
* {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;

}

button {
    font-family: "Poiret One", sans-serif;
    
}
body {
    height: 100%;
    min-height: 100vh;
    width: 100vw;
}

.background-image {
    background-image: url(../images/cocktails.jpg);
    filter: blur(5px);
    padding: 0;
    height: 100%;
    background-size: cover;
    position: absolute;
    width: 100%;
    background-position: center bottom;
   
}

.container {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
}

.hero {
    position: relative;

    text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black;
}

.hero.is-medium .hero-body {
    padding: 0;
    height: 300px;
}

.title {
    font-size: 80px;
    filter: blur(0);
}

.columns.features {
    padding-top: 20px;
    justify-content: center;
}

#spirit-select {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
}

.submit {
    padding-left: 30px;

}

.hero-subtitle {
    font-size: 20px;
    filter: blur(0);
    font-weight: bold;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

strong {
    font-size: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

#drink-cards {
    height: 125px;
}

.modal-card-body {
    padding: 50px;
}
