.background-image {
    background-image: url(../images/cocktails.jpg);
    filter: blur(5px);
    padding: 0;
    height: 100%;
    background-size: cover;
    position: absolute;
    width: 100%;
    background-position: center bottom;
   
}

.container {
    padding-top: 30px;
    text-align: center;
    justify-content: center;
   

}

.hero {
    position: relative;
}

.hero.is-medium .hero-body {
    padding: 0;
    height: 300px;
}

.title {
    font-family: "Cormorant", sans-serif;
    font-size: 80px;
    filter: blur(0);
    margin-top: 24px;
}

.columns.features {
    padding-top: 20px;
    justify-content: center;
}

.submit {
    padding-left: 30px;

}

.hero-subtitle {
    font-size: 20px;
    filter: blur(0);
}

.columns {
    display: flex;
    flex-wrap: wrap;

}

strong {
    font-size: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card-content {
    height: 125px;
}

